

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	background: #D7D3C5;
    main{
        background: #D7D3C5;
        font-family: 'Poppins', sans-serif;
    }
}

/*Header*/
@media (max-width: 1200px){
    .navbar{
        div{
            ul{
                a{
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 50px;
                        margin: 25px 20px 0 20px;
                    }
                }
            }
        }
    }
}

.logoMobile{
	width: 120px;
}

header{
	background: #EEEBDD;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .headerContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .headerContainer__links{
                display: flex;
                margin-left: 360px;
                border-right: 1px solid #FFFEFB;
                border-left: 1px solid #FFFEFB;
                :link{
                    color: black;
                }
                :visited{
                    color: black;
                }
                :hover{
                    border-bottom-color: black;
                }
                a{
                    padding: 30px 12px;
                    text-decoration: none;
                    border-bottom: 4px solid transparent;
                    width: 200px;
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                    &.headerContainer__links--activate{
                        border-bottom-color: black;
                    }
                }
            }
        }
        .widthLink{
            a{
                img{
                    width: 35px;
                }
            }
        }
        .redSocial{
            margin-right: 90px;
            a{
                padding: 16px 20px;
            }            
        }
    }
} 
/*Pagina Principal*/
@media(max-width: 1200px){
    .infoEmpresa{
        display: none;
    }
    .contacto{
        p{
            display: none;
        }
    }
}
@media(min-width: 1200px){
    .infoEmpresaMobile{
        display: none;
    }
    
}
@media(max-width: 700px){
    .carouselPc{
        display: none;
    }
    #productos{
        flex-wrap: wrap;
        width: 75%;
    }
    
}
@media(min-width: 700px){
    .carouselMobile{
        display: none;
    }
}
.carousel{
    padding: 0;
}
.contenedor{
    padding-top: 20px;
    width: 86%;
    margin: 0 auto;
    min-height: 100vh;
    #fotoInicio{
        div{
            .carousel-indicators{
                margin-left: 100px;
            }
        }
    }
    .infoEmpresa{
        width: 50%;
        margin: auto;
        background: radial-gradient(circle, #aa7b37 20%, #c6aa7b 85%, rgba(0, 212, 255, 0) 100%);
        padding: 23px;
        .infoEmpresa__texto{
            align-items: center;
            justify-self: center;
            text-align: center;
            color: black;
            &.infoEmpresa__texto--regular{
                font-size: 18px;
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
            }
        }
    }
    .infoEmpresaMobile{
        margin: auto;
        background: radial-gradient(circle, #aa7b37 20%, #c6aa7b 85%, rgba(0, 212, 255, 0) 100%);
        padding: 23px;
        .infoEmpresa__texto{
            align-items: center;
            justify-self: center;
            text-align: center;
            color: black;
            &.infoEmpresa__texto--regular{
                font-size: 18px;
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
            }
        }
    }
    .contenedor__subtitulo{
        text-align: left;
        justify-self: start;
        align-self: end;
        &.contenedor__subtitulo--big{
            font-size: 24px;
        }
    }
    #productos{
        display: flex;
        flex-direction: row;
        margin: auto;
        div{
            background: #c7ad7c;
            padding: 7px 0;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
            }
            p{
                margin-bottom: 10px;
            }
        }
    }
    #premios{
        .premios__titulo{
            text-align: left;
            &.premios__titulo--big{
                font-size: 24px;
            }
        }
        .imgPremios{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            img{
                width: 440px;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        .imgPremiosMobile{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            img{
                width: 440px;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }

    }
}

@media(min-width: 576px){
    .imgPremiosMobile{
        img{
            display: none;
        }
    }
}
@media(max-width: 576px){
    .imgPremios{
        img{
            display: none;
        }
    }
}

/*Shop*/

.secciones{
    width: 86%;
    margin: 0 auto;
    padding-top: 85px;
    .shop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;
        &.shop--center{
            text-align: center;
        }
        div{
            .imgShop{
                width: 315px;
                border: 1px solid #000;
                background: #c7ad7c;
                padding: 20px;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .shop__nameProd{
                &.shop__nameProd--big{
                    font-size: 24px;
                }
            }
            .shop__priceProd{
                &.shop__priceProd--medium{
                    font-size: 18px;                    
                }
            }
            .buyProd{
                margin-top: 10px;
                a{
                    border: 1px solid black;
                    background-color: #ff2023;
                    padding: 10px;
                    background: #CE1212;
                    text-decoration: none;
                    &:link{
                        color: white;
                    }
                    &:visited{
                        color: white;
                    }
                    &:hover{
                        background: #810000
                    }
                }
            }
        }
        .comprarQueso{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            img{
                width: 275px;
                height: 230px;
                border: 3px solid #c7ad7c;
            }
            .textQueso{
                flex: 50%;
                margin-left: 10px;
                text-align: left;
                p{
                    font-size: 18px;
                }
                ul{
                    li{
                        font-size: 18px;
                        list-style: inside;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

.pagina{
    color: black;
    font-size: 24px;
}

/*Compra Realizada*/

.comprado{
	color: black;
	font-size: 24px;
}
.volverShop{
	padding: 100px 0 200px 0;
    a{
        color: white;
        background: #CE1212;
        padding: 10px;
        text-decoration: none;
        border: 1px solid black;
    }
}


/*Recetas*/

@media (max-width: 1200px){
	#recetasContainer video{
		width: 300px;
	}
}

#recetasContainer{
	width: 86%;
	margin: 0 auto;
    padding-top: 85px;
    div{
        .recetasContainer__titulo{
            text-decoration: underline;
            &.recetasContainer__titulo--big{
                font-size: 28px;
            }
            &.recetasContainer__titulo--medium{
                font-size: 24px;
            }
        }
        .receta{
            list-style-position: inside;
        }
    }
}


/*Donde Comprar*/

.accordion{
	padding: 40px 0 100px 0;
}
.card-header{
	background-color: #CE1212;
}



/*Contacto*/

.paginaContacto{
	color: black;
	font-size: 24px;
}
.contacto{
	background: #c7ad7c;
    p{
        padding-top: 50px;
        float: right;
        margin-left: 37%;
        margin-right: 6%;
    }
    #formulario{
        padding-bottom: 140px;
        margin-left: 20px;
    }
} 


/*Preguntas Frecuentes*/

.preguntas{
    div{
        font-size: 24px;
        font-weight: 600;
    }
    ul{
        li{
            list-style: inside;
        }
    }
}


/*Footer*/

@media (max-width: 1200px){
	footer{
        div{
            width: 50%;
        }
        .rightFooter{
            display: none;
        }
    }
}

footer{
	grid-area: footer;
	background: linear-gradient(180deg, rgba(206,18,18,1) 0%, rgba(129,0,0,1) 50%, rgba(0,0,0,1) 100%);
	width: 100%;
	min-height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 57px;
	font-size: 18px;
    font-family: 'Poppins', sans-serif;
    div{
        list-style: none;
        text-align: left;
        margin-left: 187px;
        padding: 17px 0;
        a{
            text-decoration: none;
            &:link{
                color: white;
            }
            &:visited{
                color: white;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        .infoFooter1{
            float: right;
            margin-top: -115px;
            margin-right: 530px;
        }
        .infoFooter2{
            float: right;
            margin-top: -57px;
            margin-right: 600px;
        }
    }
    iframe{
        float: right;
        margin-top: -330px;
        margin-right: 110px;
        height: 200px;
        width: 675px;
    }
}

/*Whatsapp*/

#wp{
	height: 60px;
	width: 60px;
	position: fixed;
	top: 890px;
	left: 1835px;
}